* {
  box-sizing: border-box;
}

html {
  overflow: auto;
  min-height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', 'Open Sans', sans-serif;
  text-align: center;
  background: #212121;
  color: #c4c4c4;
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  user-select: none;
}

#info-icon {
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
  right: calc(0.4em + 0.78vw);
  bottom: calc(0.4em + 0.78vw);
  fill: #333;
  transform: scale(1.4);
  z-index: 1;
  transition: all 120ms cubic-bezier(0,0,0,1);
}

#info-icon:hover {
  fill: #c4c4c4;
}

/* Modal Styling */

.modal {
  display: block;
  position: fixed;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.42);
  -webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
  user-select: text;
  transition: opacity 600ms cubic-bezier(0,0,0,1);
}

.modal-content {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10%;
  margin-top: 20vh;
  width: 60%;
  width: 60vw;
  border: 0.2em solid rgb(28, 55, 151);
  border-radius: 1em;
  background: #212121;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  text-justify: inter-word;
}

.modal-content h3 {
  margin: 0;
}

.modal-header {
  padding: 1em;
  padding-top: 1.6em;
}

.modal-body {
  text-align: justify;
  padding: 0 10em;
  padding-left: calc(0.72em + 8.5vw);
  padding-right: calc(0.72em + 8.5vw);
}

#subject-info {
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
}

.modal-footer h5 {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
}

.modal-footer {
  padding: 1.5em;
  padding-bottom: 1em;
}

.button-close {
  position: absolute;
  margin-top: -0.6em;
  margin-right: -0.6em;
  top: 0;
  right: 0;
  fill: #c4c4c4;
  transform: scale(1.1);
  transition: all 120ms cubic-bezier(0,0,0,.88);
}

.button-close:hover {
  transform: scale(1.28);
}

#button-close-background {
  fill: #212121;
}

@keyframes to-hidden {
  from { 
    opacity: 1;
  }
  to { 
    opacity: 0;
  }
}

/* End of Modal Styling */

#horizontal-line {
  stroke-linecap: round;
  stroke-width: 0.8;
  stroke: #333;
}

#data-message {
  opacity: 0;
  fill: #c4c4c4;
  font-weight: 500;
  font-size: 2.6em;
}

#data-message.active {
  animation: pulsate-to-visible 2500ms ease-out;
  animation-iteration-count: infinite; 
  animation-play-state: running;
}

@keyframes pulsate-to-visible {
  0% { 
    opacity: 0;
  }
  50% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}

@keyframes pulsate-to-hidden {
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

.footer {
  position: relative;
  margin: 1em 0 0 0;
}

#footer-text {
  margin: 0 0 -1.8em 0;
  padding: 1.4em;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  color: #333;
  font-size: 0.83em;
}

.container {
  margin: 0;
}

.rounded-bar {
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-dasharray: 250;
}

.backdrop {
  stroke-width: 7.3;
  stroke: #333;
}

.progress {
  opacity: 1;
  stroke-width: 7.3;
  stroke: rgb(50, 73, 160);
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 250ms linear;
}

.progress.active {
  animation: pulsate-to-hidden 2500ms ease-out;
  animation-delay: 1250ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#v1 > .progress, #c1 > .progress {
  stroke: rgb(28, 55, 151);
}

#v2 > .progress, #c2 > .progress {
  stroke: rgb(16, 141, 16);
}

#v3 > .progress, #c3 > .progress {
  stroke: rgb(143, 18, 18);
}

.bar-text {
  fill: #f0f0f0;
}

.bar-number {
  font-size: 0.855em;
  line-height: 1;
  text-anchor: middle;
}

.bar-label {
  font-size: 0.51em;
  text-anchor: middle;
  -moz-transform: translateY(1.16em);
  -ms-transform: translateY(1.16em);
  -webkit-transform: translateY(1.16em);
  transform: translateY(1.2em);
}

/* Graph Styling */

#line-graph {
  opacity: 0;
  transition: opacity 3000ms ease-in-out;
}

#line-graph.active {
  opacity: 1;
}

#outside-line {
  fill: #212121;
  stroke: #333;
  stroke-width: 5;
}

[class^="line"] {
  fill: none;
  stroke-width: 4.5;
}

.line-1 {
  stroke: rgb(28, 55, 151);
}

.line-2 {
  stroke: rgb(16, 141, 16);
}

.line-3 {
  stroke: rgb(143, 18, 18);
}

.x-axis-style line, .y-axis-style line {
  stroke:#c4c4c4;
}

.x-axis-style line {
  stroke-width: 4;
}

.y-axis-style line{
  stroke-width: 2.5;
}

.x-axis-style path ,.y-axis-style path {
  stroke:#c4c4c4;
  stroke-width: 2.15;
}

.x-axis-style text, .y-axis-style text {
  fill:#c4c4c4;
  font-size: 1.5em;
  font-family: 'Lato', 'Open-Sans', sans-serif;
}

#graph-container {
  margin: 1em 0 0.5em 0;
}

/* End of Graph Styling */

#controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.2em;
}

.button-relay {
  flex: 1;
  margin: 3.2% auto;
  border: 0.2em solid #333;
  color: #f0f0f0;
  background: none;
  border-radius: 0.68em;
  min-width: 40%;
  min-height: 5%;
  font-family: 'Lato', 'Open-Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.9em;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 150ms cubic-bezier(0,.83,.6,1),
    border 220ms cubic-bezier(0,.83,.6,1),
    color 200ms cubic-bezier(0,.83,.6,1);
}

.button-relay:nth-last-child(1) {
  margin: 3.2% auto 2.9% auto;
}

.button-relay:hover {
  background-color: #1b1b1b;
}

.button-relay:focus {
  outline: none;
}

.button-relay::-moz-focus-inner {
  border: 0;
}

.button-relay:active {
  color: #bebebe;
  background-color: #161616;
  border: 0.2em solid #202020;
}


.button-relay[isPressed = "true"] {
  color: rgb(28, 55, 151);
  border: 0.2em solid rgb(25, 27, 136);
}

.button-relay[isDisabled = "true"] {
  color: #333;
  border: 0.2em solid #333;
}

@media screen and (max-width: 735px)
{
  .grid {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 100%;
    min-width: 20em;
    transform-origin: center;
    transform: translate(-50%, -50%);
  }

  #v1-box, #v2-box, #v3-box {
    float: left;
    width: 33.33%;
  }

  #c1-box, #c2-box, #c3-box {
    float: left;
    width: 33.33%;
  }

  #controller {
    display: inline-block;
    text-align: center;
  }

  .button-relay {
    margin: 0.5em 1em;
    border: 0.13em solid #333;
    color: #f0f0f0;
    background: none;
    border-radius: 0.68em;
    min-width: 6em;
    min-height: 3em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 0.7em;
    font-weight: 350;
    cursor: pointer;
    outline: none;
    transition: all 150ms cubic-bezier(0,.83,.6,1),
      border 220ms cubic-bezier(0,.83,.6,1),
      color 200ms cubic-bezier(0,.83,.6,1);
  }

  .footer {
    margin: 4em 0 -1.7em 0;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 8;
  }
  
  #footer-text {
    margin: 0 0 0 0;
    font-size: 1.6vw;
  }
}

@media screen and (min-width: 736px)
{
  .grid {
    padding: 1.5em 0 1.5em 0;
    display: -ms-grid-;
    display: grid;
    grid-template-columns: 10% repeat(5, 2fr) 10%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    ". . . . . . ."
    ". v1 v2 v3 controller controller ."
    ". c1 c2 c3 controller controller ."
    ". chart chart chart controller controller ."
    ". . . . . . .";
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    max-width: 70%;
    min-width: 46em;
    transform-origin: center;
    transform: translate(-50%, -50%);
  }

  #v1-box {
    grid-area: v1
  }

  #v2-box {
    grid-area: v2
  }

  #v3-box {
    grid-area: v3
  }

  #c1-box {
    grid-area: c1
  }

  #c2-box {
    grid-area: c2
  }

  #c3-box {
    grid-area: c3
  }

  #graph-container {
    grid-area: chart
  }

  #controller {
    grid-area: controller;
  }

  .footer {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 8;
    padding-top: 1.5em;
  }

  .button-relay {
    font-size: calc(0.38em + 0.39vw);
  }
}